<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devices</key>
	<array>
		<dict>
			<key>name</key>
			<string>classe sigma</string>
			<key>mac</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>mini</string>
			<key>mac</key>
			<array>
				<integer>200</integer>
				<integer>42</integer>
				<integer>20</integer>
				<integer>88</integer>
				<integer>5</integer>
				<integer>45</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
